body {
    background-image: linear-gradient(to left top, #D61355, #ADE792, #ADE792, #ADE792, #D61355);
    text-align: center
    }
hr{
   border-style: dotted none none;
   border-color: #ECF9FF;
   border-width: 15px;
   width: 15%
   }
h1{
    font-family: Cambria;
    color: #735F32;
    text-align: center;
}

table.center{
    margin-left: auto;
    margin-right: auto;
    }

table
    {
    color: #735F32;
    font-family: cambria;
    }

td  {
    text-color: #FFED00;
    }

h2  {
    color: #735F32;
    font-family: cambria;
    }


